<h1>Groups</h1>
<div>
  <ul>
    <% @group.each do |group| %>
      <li class="list-unstyled px-5">
        <% if user_signed_in? %>
          <h3>Name: </h3>
          <%= group.name %>
          <br><br>
          <h4>Icon: </h4>
          <%= group.icon %>
          <h4>Items: </h4>
          <%= group.items.count %>
        <% end %>
        <br><br>
      </li>
    <% end %>
    <%= link_to 'New Group', new_group_path %>
  </ul>
</div>
