<h1>Items</h1>
<div>
  <ul>
    <% @item.each do |item| %>
      <li class="list-unstyled px-5">
        <% if user_signed_in? %>
          <h3>Name: </h3>
          <%= item.name %>
          <br><br>
          <h4>Amount: </h4>
          <%= item.amount %>
        <% end %>
        <br><br>
      </li>
    <% end %>
    <%= link_to 'New Item', new_item_path %>
  </ul>
</div>
