<%= render 'shared/nav' %>
<div class="d-flex align-items-center text-center py-2">
  <div class="w-100 m-md-5 px-3 px-md-5">  
    <h2 class="h3 fw-bold">New Item</h2>
    <%= render 'form', item: @item %>
  </div>
</div>