/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .image {
  $size: 120px;
  width: $size;
  height: $size;
}

.text {
  font-size: 12px;
}

.bg-profile {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-attachment:fixed;
  background-color: #2D639F;
  background-image:
    linear-gradient(
      45deg, 
      #3678C2, #2D639F
    );
}

.nav-color {
  background-attachment:fixed;
  background-color: #2D639F;
  background-image:
    linear-gradient(
      45deg, 
      #2D639F, #3678C2
    );
}

body {
  background-color: #F8F9FA;
}

.btn-devise {
  background-color: #3979C3;
}

.btn-new {
  background-color: #60B524;
}
